{% extends "base.html" %}
{% load static %}

{% block title %}Member: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

	<h2>{{ object.str }}</h2>
	<div id="personalInfo">
	    <h3>
		Personal Info
	    </h3>
	    <p>Date of Birth: {{ object.person.dob }}</p>
	    <p>Party: {{ object.party }}</p>
	    <p>Gender: {{ object.person.gender }}</p>
	    <p>Constituency: <a href="{% url 'constituency:detail' object.constituency.slug %}">{{ object.constituency }}</a></p> 
	</div>
	<div id="parliamentaryInfo">
	    <h3> Parliamentary Info </h3>
	    {% if object.cabinet %}
		<p> Current member of cabinet </p>
	    {% endif %}
	    <p>Date of election: {{ object.member_from }}</p>
	</div>
    </div>
  </div>

{% if object == request.member %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'members:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom member template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

