



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// ul {
//     list-style-type: none;
// }

// .navbar{
//     ul {
// 	margin: 0;
// 	padding: 0;
// 	overflow: hidden;
// 	background-color:#333;

// 	li {
// 	    float: left;
// 	    a {
// 		display: block;
// 		color: white;
// 		text-align: center;
// 		padding: 14px 16px;
// 		text-decoration: none;
// 	    }

// 	    a:hover {
// 		background-color: #111;
// 	    }

// 	    .active {
// 		background-color: #4CAF50;
// 	    }
// 	}
//     }
// }



