{% extends "base.html" %}
{% block home %}
    active
{% endblock home %}
{% block title %}
    Know Your Government
{% endblock title %}

{% block content %}
    <div id="cabinetContainer">
	<h1>
	    Know your Government
	</h1>
	<div id="intro">This is a website designed to help you discover a little more about the people who represent you. It looks like you're in {{ location }}, that means your local mp is {{ local_mp }}. Here's a brief summary outlining their views, just click on the profile to find out more.</div>

	<div id="profile">
	    <div id="mp_name">
		{{ local_mp.name }}
	    </div>
	    <img id="mp_photo" href="{{ local_mp.photo }}"></img>
	    <ul id="basic information">
		<li>{{ local_mp.name }} has been the mp for {{ local_mp.constituency }} since {{ local_mp.election_date.last }}</li>
		<li>{{ local_mp.name }} is a member of the following political factions as far as we can tell: {{ local.mp }}</li>
		<li>{{ local_mp.name }} has a parliamentary attendance rate of {{ local_mp.attendance }}, this ranks them {{ local_mp.attendance_rank }} out of the {{ member_count }} mps currently sitting in parliament</li>
	    </ul>
	</div>
    </div>
    <div>
{% endblock content %}
