{% extends "base.html" %}
{% block home %}
    active
{% endblock home %}
{% block title %}
    Know Your Government: Cabinet
{% endblock title %}

{% block content %}
    <div id="cabinetContainer">
	<h1>
	    Cabinet
	</h1>
	<ul>
	    <li> Prime Minister: {{ prime_minister }} </li>
	    <li> Chancellor: {{ chancellor }} </li>
	    <li> Home Secretary: {{ home_secretary }} </li>
	</ul>
    </div>
    <div>
{% endblock content %}
